body {
    background: linear-gradient(rgb(233, 24, 233),rgb(255, 255, 255));
    text-align: center;
}
div{
    color: rgb(0, 0, 0);
    font-size: xx-large;
    margin-bottom: 30px;
}

input{
    background-color: chartreuse;
    width: 50%;
    
}

